<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title></title>
</head>
<body>
<!-- Add icon library -->

<div class="card">
  <img src="img.jpg" alt="Dalia" style="width:100%">
  <h1>Dalia Risheq</h1>
  <p class="title">CEO & Founder, Example</p>
  <p>MEET student</p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <a href="home.html"></a>
  <p><button>Contact</button></p>
</div>

</body>
</html>