<!DOCTYPE html>
<html>
<head><link rel="stylesheet" type="text/css" href="style.css">
	<title>Welcome!</title>
</head><link rel="stylesheet" type="text/css" href="style.css">
<body>
Welcome to the store ,  where u can buy anything you want..

<div class="card">
  <img src="/home/student/Desktop/Y2L-Flask-Routing/jeans.jpeg" alt="Denim Jeans" style="width:100%">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans..</p>
  <p><button>Add to Cart</button></p>
</div>
 <br>
<div class="card">
  <img src="/home/student/Desktop/Y2L-Flask-Routing/hoodie.jpg"  style="width:100%">
  <h1>hoodie</h1>
  <p class="price">$29.99</p>
  <p>Some text about the hoodie..</p>
  <p><button>Add to Cart</button></p>
</div> 

<a href="home.html">click to go to homepage</a>
<br>
<a href="cart.html">click here to find what you chose</a>

</body>
</html>